/* Form */
.form-div button{
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    background-color: #268AFF;
    border-radius: 10px;
    border: 0px;
}

.form-div button:hover{
    color:#fff;
    background-color: #5BA9FF;
}

#information-fieldset{
    min-height: 210px;
}

#verify-fieldset{
    min-height: 342px;
}