<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Online Judge System!</h1>
    <form onsubmit="login(); return false;">
        Username:<input id="username"/><br>
        Password:<input id="password"/><br>
        <button type="submit">Login</button>
    </form>
    <button><a href="/view/register" style="text-decoration: none; color: black">Register</a> </button>
    <script type="text/javascript">
        function login(){
            let username=document.getElementById('username')
            let password=document.getElementById('password')
            let xhr=new XMLHttpRequest();
            xhr.open('POST','/v1/login')
            xhr.setRequestHeader('Content-Type','application/json')
            xhr.onreadystatechange=()=>{
                if(4===xhr.readyState){
                    let res=JSON.parse(xhr.responseText)
                    if(res.success){
                        window.location.replace('/view/index')
                    }
                }
            }
            xhr.send(JSON.stringify({username:username.value,password:password.value}))
        }
    </script>
</body>
</html>